<!-- Header -->
<nav class="navbar navbar-expand-lg px-0 py-2">
  <div class="container-xl">

    <!-- Logo -->
    <a class="navbar-brand" href="#">
      <img src="assets/images/logo/isap_one_logo_1.png" class="h-8" style="width: 200px;" alt="...">
    </a>

    <!-- Navbar toggle -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">

      <!-- Nav -->
      <div class="navbar-nav mx-lg-auto">
        <span class="nav-item nav-link nav_active" aria-current="page">Home</span>
        <span class="nav-item nav-link">Product</span>
        <span class="nav-item nav-link">Features</span>
        <span class="nav-item nav-link">Pricing</span>
      </div>

      <!-- Action -->
      <div class="d-flex align-items-lg-center mt-3 mt-lg-0">
        <button class="btn btn-md btn-primary rounded-5 fw-bold w-full w-lg-auto demo_button">
          Request for Demo
        </button>
      </div>
    </div>

  </div>
</nav>


<!-- Section 1 -->
<section>
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">

      <div class="carousel-item carousel_item active" id="0">
        <img id="carousel_image_0" src="assets/images/banner/banner-1.jpg" class="d-block w-100" alt="...">
        <div class="carousel_caption item_carousel_1">
          <h2><span>All-in-one</span> <br> solution for <br> your business </h2>
        </div>
      </div>

      <div class="carousel-item carousel_item" id="1">
        <img id="carousel_image_1" src="assets/images/banner/banner-2.jpg" class="d-block w-100" alt="...">
        <div class="carousel_caption item_carousel_2">
          <h2>Drive Your <br> <span>Business</span> Forward </h2>
        </div>
      </div>

      <div class="carousel-item carousel_item" id="2">
        <img id="carousel_image_2" src="assets/images/banner/banner-3.jpg" class="d-block w-100" alt="...">
        <div class="carousel_caption item_carousel_3">
          <h2><span>AXOLON</span> <br> BUSINESS EFFICIENCY <br> REDEFINED </h2>
        </div>
      </div>

    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</section>


<!-- Section 2 -->
<section class="section_2 py-5">
  <div class="container">
    <div class="row">

      <div class="col-12 py-4">
        <div class="d-flex justify-content-center">
          <div class="heading_section">
            <h2 class="text-center text-uppercase">Open Source ERP & CRM for business</h2>
            <h6 class="text-center">(SMEs, Large Companies, Freelancers, Foundations)</h6>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="d-flex justify-content-center">

          <img class="img-fluid" src="assets/images/section/ERP-CRM-banner.jpg" alt="">
        </div>
      </div>

      <div class="col-12 py-4">
        <div class="d-flex justify-content-center">
          <div class="heading_section">
            <h5 class="text-center"> One <strong> web suite </strong> to manage all of your <strong> business...
              </strong></h5>
          </div>
        </div>
      </div>

      <div class="col-12 py-5">
        <div class="d-flex justify-content-start">
          <div class="heading_section">
            <h3 class="text-start text-uppercase pb-4">ERP and CRM Software Services</h3>
            <p>ERP and CRM Software Services is a modern software package to manage your company or foundation’s
              activity (CRM & Sales, Human Relationship Management (HR), CMS, Website, POS, Product & Stock, Finance &
              Billing, Marketing, Productivity, Integration, Development, contacts, suppliers, invoices, orders, stocks,
              agenda, accounting, …).</p>

            <p>iSAP Solutions offers an integrated Accounting Finance ERP and CRM Software System Open Source providing
              comprehensive, consistent Accounting Finance ERP and CRM Software Services Management Software and
              monitoring procedures. The system consists of two integrated modules:</p>

            <p>Management as the core module designed to facilitate comprehensive Accounting Finance Management Software
              system open source for Accounting Finance POS Purchasing Inventory Warehousing Manufacturing Fixed Assets
              Dimensions Bank Account General Ledger to Payroll Human Resource and insurance with other requirements.
            </p>

            <p>
              The accounting and finance module is supplementary and ideal for monitoring building work, accounting
              finance, repairs, property conversions, and so on.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>


<!-- Section 3 -->
<section class="section_3 py-5">

  <div class="container">
    <div class="row">

      <div class="col-12 py-4">
        <div class="d-flex justify-content-center">
          <div class="heading_section">
            <h4 class="text-center text-uppercase">Features that our ERP and CRM | Accounting Finance Management System
              includes</h4>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-center">
        <div class="col-12 col-sm-11 col-md-8 py-3">

          <div class="accordion accordion-flush w-100" id="accordionFlushExample">

            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  <h5> Customer/Sales Management </h5>
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  <div class="list">
                    <ul>
                      <li><span>Customers/Prospects + Contacts management</span></li>
                      <li><span>Opportunities or Leads management</span></li>
                      <li><span>Commercial proposals management (online signing)</span></li>
                      <li><span>Customer Orders management</span></li>
                      <li><span>Contracts/Subscription management</span></li>
                      <li><span>Interventions management</span></li>
                      <li><span>Ticket System</span></li>
                      <li><span>Shipping management</span></li>
                      <li><span>Customer Invoices/Credit notes and payment management</span></li>
                      <li><span>Point of Sale (POS)</span></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                  <h5> Finance/Accounting </h5>
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  <div class="list">
                    <ul>
                      <li><span>Invoices/Payments</span></li>
                      <li><span>Bank accounts management</span></li>
                      <li><span>Direct debit and Credit transfer management (European SEPA)</span></li>
                      <li><span>Accounting management</span></li>
                      <li><span>Donations management</span></li>
                      <li><span>Loan management</span></li>
                      <li><span>Margins</span></li>
                      <li><span>Reports</span></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>

    </div>
  </div>
</section>

<!-- Section 4 -->
<section class="section_4 py-5">
  <div class="container">
    <div class="row">

      <div class="col-lg-6">
        <h5>About us</h5>
        <h3>Transforming Enterprises: Your Premier ERP and CRM Solutions Partner.</h3>
        <p>At iSAP Solution, we are a dedicated team of professionals committed to revolutionizing your business
          operations through cutting-edge ERP and CRM solutions. With a focus on delivering tailored services, we
          leverage our expertise to streamline and optimize your workflow, enhance collaboration, and drive sustainable
          growth. Our comprehensive suite of ERP and CRM services is designed to meet the unique needs of your business,
          ensuring seamless integration, data-driven insights, and increased efficiency. Backed by a passion for
          innovation and a client-centric approach, we aim to be your trusted partner in navigating the dynamic
          landscape of enterprise resource planning and customer relationship management, empowering your organization
          to thrive in the digital era.</p>
      </div>

      <div class="col-lg-6 d-flex justify-content-center align-items-center">
        <div class="w-100 p-3">
          <img src="assets/images/section/aboutus.jpg" class="img-fluid about_us_img" alt="">
        </div>
      </div>

    </div>
  </div>
</section>