<!-- Header -->
<nav class="navbar navbar-expand-lg px-0 py-2">
  <div class="container-xl">

    <!-- Logo -->
    <a class="navbar-brand" href="#">
      <img src="assets/images/logo/isap_one_logo_1.png" class="h-8" style="width: 200px;" alt="...">
    </a>

    <!-- Navbar toggle -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">

      <!-- Nav -->
      <div class="navbar-nav mx-lg-auto">
        <span class="nav-item nav-link nav_active" aria-current="page">Home</span>
        <span class="nav-item nav-link">Product</span>
        <span class="nav-item nav-link">Features</span>
        <span class="nav-item nav-link">Pricing</span>
      </div>

      <!-- Action -->
      <div class="d-flex align-items-lg-center mt-3 mt-lg-0">
        <button class="btn btn-md btn-primary rounded-5 fw-bold w-full w-lg-auto demo_button">
          Request for Demo
        </button>
      </div>
    </div>

  </div>
</nav>